# Application
NODE_ENV=development
PORT=3000
HOST=0.0.0.0
LOG_LEVEL=info

# Database (Postgres)
POSTGRES_USER=mdm
POSTGRES_PASSWORD=secret
POSTGRES_DB=mdm_core
POSTGRES_PORT=5432
DATABASE_URL="postgresql://mdm:secret@localhost:5432/mdm_core?schema=public"

# Kafka
KAFKA_BROKERS=localhost:9094
KAFKA_CLIENT_ID=mdm-core-node
KAFKA_GROUP_ID=mdm-core-node-group
KAFKA_EXTERNAL_PORT=9094
KAFKA_UI_PORT=8080

# Auth
JWT_SECRET="change-me-at-least-32-chars-long!!"
JWT_EXPIRES_IN=15m

# pgAdmin (dev only)
PGADMIN_EMAIL=admin@local.dev
PGADMIN_PASSWORD=admin
PGADMIN_PORT=5050
